<main class="container center">
  Добавление менеджеров и администраторов 
</main>

<div class="container-fluid d-flex justify-content-center aling-items-center vh-100">
  <form id="registerForm" action="/users/adminPanel" method="POST">
    <div class="mb-3">
      <input placeholder="Имя" type="text" name="name" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input placeholder="Отчество" type="text" name="middlename" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input placeholder="Фамилия" type="text" name="lastname" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input placeholder="Телефон" type="text" name="phone" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input placeholder="Email адрес" type="email" name="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input placeholder="Пароль" type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <select required name="role" class="form-select" aria-label="Default select example">
        <option required selected>Ваша роль</option>
        <option value="admin">Админ</option>
        <option value="manager">Менеджер</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
  </form>
</div>
